@charset "utf-8";
body,ul,li,h1,h2{margin:0;padding:0;}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#FF;
}
body{
	margin:0 auto;
	width:900px;
	background-color:#FFF;
	font:100%/1.4 helvetica,arial,sans-serif;
}
header{
	background-color:#CCC;
	padding:20px;
	text-align:center;
}
nav{
	float:left;
	width:900px;
	height:50px;
	background-color:#999;
	line-height:50px;
}
nav li a{
	display:block;
	float:left;
	padding:5px 10px;
	color:#00F;
}
section{
	text-align:center;
	width:560px;
	margin:0 0 0 30px;
	padding:20px 0;
}
aside{
	float:left;
	width:240px;
	height:260px;
	background-color:#AAA;
}
aside a{
	display:block;
	height:30px;
	line-height:30px;
	margin-left:50px;
	padding:20px;
}
footer{
	clear:both;
	background-color:#999;
	padding:20px;
	height:1%;
}
footer ul li{
	display:inline;
	margin:0 15px;
	text-align:center;
}
.img1{
	width:480px;
	height:260px;
}
div{
	margin-left:-30%;
}
div h2{
	text-align:center;
}
div p{
	text-align:center;
}
.img2{
	width:240px;
	height:120px;
}



